@inject IWorkContext workContext
@{
    var supportRtl = workContext.WorkingLanguage.Rtl;
    if (supportRtl)
    {
        <link rel="stylesheet" type="text/css" asp-src="/Themes/Sport/Content/css/header/header.rtl.css">
    }
    else
    {
        <link rel="stylesheet" type="text/css" asp-src="/Themes/Sport/Content/css/header/header.css">
    }
}
<div class="header-nav">
    <b-navbar type="light">
        <div id="header-container">
            <b-navbar-nav class="top-header-items">
                @await Component.InvokeAsync("SearchBox")
                <template>
                    <li class="nav-item">
                        <a class="nav-link" v-b-toggle.sidebar-right>
                            <span class="icon-settings icons"></span>
                        </a>
                        <template>
                            <b-sidebar id="sidebar-right" text-variant="standard" body-class="user-panel" title="@Loc["Account.MyAccount"]" @if (supportRtl) { <text> left</text> } else { <text>right</text> } backdrop>
                                <div class="d-inline-flex flex-wrap mb-2">
                                    <partial name="_Selector_TaxType" />
                                    <partial name="_Selector_Currency" />
                                    <partial name="_Selector_Language" />
                                    <partial name="_Selector_Store" />
                                    <partial name="_Selector_Theme" />
                                </div>
                                <partial name="_HeaderLinks" />
                            </b-sidebar>
                        </template>
                    </li>
                </template>
                <partial name="_ShoppingCartLinks" />
            </b-navbar-nav>
        </div>
    </b-navbar>
</div>